<% if current_user %>
  <p id="notice" class="title text-center"><%= notice %></p>
  <h1 class="text-center title" id="fixmargin">Dashboard</h1>
  <div class="container col-xs-8">
    <!-- <h2 class="title text-center" id="fixmargin">Feed</h2> -->
    <%= render 'shared/feed' %>
  </div>
  <div class="profile-info col-xs-3 text-center">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/post_form' %>
    </section>
  </div>
<% else %>
  <div class="mainpage bg">
    <div class="container text-center">
      <span id="alert"><%= alert %></span>
      <h1 class="maintitle">Climb On</h1>
      <h3 class="phrase-title">Re-live your adventures</h3>
      <div class="login form-group">
        <%= form_tag sessions_path do %>
          <div class="field">
            <%= text_field_tag :email, params[:email], placeholder: "Email" %>
          </div>
          <div class="field">
            <%= password_field_tag :password, "", placeholder: "Password" %>
          </div>
          <span class="actions"><%= submit_tag "", :style => "display: none;" %></span>
        <% end %>
        <footer class="text-center">
          &copy; 2017 <span class="name">ibrianfrancisco</span>
        </footer>
      </div>
    </div>
  </div>
<% end %>
