<% if current_user %>
  <div class="container text-center help">
    <h1>Dashboard</h1>
    <p id="notice"><%= notice %></p>
  </div>
  <div class="container col-md-6">

    <div class="span8">
      <h3>User's Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
          <section>
            <%= render 'shared/user_info' %>
          </section>
          <section>
            <%= render 'shared/stats' %>
          </section>
          <section>
            <%= render 'shared/post_form' %>
          </section>
  </div>

<% else %>

  <div class="page">
    <div class="container text-center">
      <h1 class="maintitle">Climb On</h1>
      <p id="alert"><%= alert %></p>
      <div class="emptydiv">
      <%= form_tag sessions_path do %>
        <div class="field">
          <%= text_field_tag :email, params[:email], placeholder: "Email" %>
        </div>
        <div class="field">
          <%= password_field_tag(:password, "", placeholder: "Password") %>
        </div>
        <span class="actions"><%= submit_tag "", :style => "display: none;" %></span>
      <% end %>
    <footer class="text-center">
      &copy; 2017 <span class="name">ibrianfrancisco</span>
    </footer>
    </div>
    </div>
  </div>
<% end %>
