<% provide(:title, @title) %>
<div class="container">
  <div class="follow-page post">
  <div class="text-center">
  <div>
    <h1 class="profilename" id="fixmargin"><%= @user.name + "'s " + @title %></h1>
  </div>
  <% if @user.image? %>
    <%= image_tag @user.image, :class => "profile-img" %>
  <% else %>
    <%= image_tag "noprofile.png", :class => "profile-img" %>
  <% end %>
  <%= render 'shared/stats' %>
  <%= link_to "View Profile", user_path(@user) %>
  </div>
  <section>
    <ul class="feedposts">
    <% if @users.any? %>
        <% @users.each do |user| %>
          <li><%= link_to gravatar_for(user), user %>
          <%= user.name %></li>
        <% end %>
    <% end %>
    </ul>
  </section>
</div>
</div>
