<% if current_user %>
  <div class="container text-center help">
    <h1>My Posts</h1>
    <% @posts.each do |post| %>
      <div class="container">
        <%= post.title %>
        <%= post.description %>
        <%= post.keyword %>
        <%= link_to 'Edit post', post_path(post) + '/edit' if current_user.id == @user.id %>
        <%= link_to 'Show more', post_path(post) %>
      </div>
      <% end %>
      <%= link_to 'Create post', new_post_path if current_user.id == @user.id %>
      <%= link_to "Edit yo'self", edit_user_path if current_user.id == @user.id %>

  </div>


  <div class="container">
  <p><%= @user.name %></p>
  <p><%= @user.age %></p>
  <p><%= @user.bio %></p>
  <p><%= @user.location %></p>
<p><%= @user.email %></p>
<p><%= image_tag @user.image %></p>
  </div>
<% else %>

<div class="container text-center help">
  <h1>My Posts</h1>
  <% @posts.each do |post| %>
    <div class="container">
      <%= post.title %>
      <%= post.description %>
      <%= post.keyword %>
      <%= link_to 'Show more', post_path(post) %>

    </div>
    <% end %>


</div>

<% end %>
<%#= link_to "Edit", edit_job_path(@job), class: "btn btn-sm btn-default" if @current_user.id == @job.owner_id %>
