<div class="container">
  <header class="container profile col-xs-4">
    <% if @user.image? %>
      <%= image_tag @user.image, :class => "profile-img" %>
    <% else %>
      <%= image_tag "noprofile.png", :class => "profile-img" %>
    <% end %>
    <h1 class="avatar"><%= @user.name %></h1>
    <h2><%= @user.bio %></h2>
    <p><%= @user.age %></p>
    <p><%= @user.location %></p>
    <p><%= @user.email %></p>
    <% if current_user %>
      <%= link_to "Edit yo'self", edit_user_path if current_user.id == @user.id %>
      <%= link_to "Delete yo'self", user_path, method: :delete, data: { confirm: "You sure?" } if current_user.id == @user.id %>
    <% else %>
    <% end %>
    <% provide(:title, @user.name) %>
    <div class="row">
      <aside class="span4">
        <section>
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
          </h1>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
      </aside>
      <div class="span8">
        <%= render 'follow_form' %>
      </div>
    </div>

  </header>
  <div class="container profile col-xs-4 pull-left">
<!--     <p>Events</p>
    <p>Photos</p>
    <p>Message Me</p>
    <p>Favorite Climbs</p> -->

  <!-- If you want to include a banner, here it is -->

    <%#= image_tag @user.bannerimg, :class => "profile-banner" %>
  </div>

  <div class="container col-xs-8">
    <p id="notice"><%= notice %></p>
      <h1 class="text-center">My Posts</h1>
      <% @posts.each do |post| %>
        <div class="container post col-xs-12">
          <h3><%= post.title %></h3>
          <%= simple_format(post.description) %>
          <p>Tags: <%= post.keyword %></p>
          <%= link_to 'Show more', post_path(post) %>
          <% if current_user %>
            <%= link_to 'Edit post', post_path(post) + '/edit' if current_user.id == @user.id %>
            <%= link_to "Delete post", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete?" } if current_user.id == @user.id %>
          <% else %>
          <% end %>
        </div>
      <% end %>
    <% if current_user %>
      <%= link_to 'Create post', new_post_path if current_user.id == @user.id %>
    <% else %>
    <% end %>
  </div>
  </div>
