<div class="container">
  <header class="container col-xs-4">
    <% if @user.image? %>
      <%= image_tag @user.image, :class => "profile-img" %>
    <% else %>
      <%= image_tag "noprofile.png", :class => "profile-img" %>
    <% end %>
    <h1 class="profilename"><%= @user.name %></h1>
    <h5><%= @user.bio %></h5>
    <p><%= @user.age %></p>
    <p><%= @user.location %></p>
    <p><%= @user.email %></p>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <% if current_user %>
      <%= link_to "Edit yo'self", edit_user_path if current_user.id == @user.id %>
      <%= link_to "Delete yo'self", user_path, method: :delete, data: { confirm: "You sure?" } if current_user.id == @user.id %>
      <div>
        <%= render 'follow_form' if current_user.id != @user.id %>
      </div>
    <% else %>
    <% end %>

  </header>
  <div class="container profile col-xs-4 pull-left">
<!--     <p>Events</p>
    <p>Photos</p>
    <p>Message Me</p>
    <p>Favorite Climbs</p> -->

  <!-- If you want to include a banner, here it is -->

    <%#= image_tag @user.bannerimg, :class => "profile-banner" %>
  </div>

  <div class="container col-xs-8">
    <p id="notice"><%= notice %></p>
      <h1 class="text-center title">My Posts</h1>
      <% @posts.each do |post| %>
        <div class="container post col-xs-12">
          <div class="panel-title pull-left">
            <%= post.title %>
          </div>
          <div class="panel-title pull-right">
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </div>
          <div class="clearfix"></div>
        <p class="postcontent"><%= simple_format(post.description) %></p>
          <%= link_to 'Show more', post_path(post) %>
          <% if current_user %>
            <%= link_to 'Edit post', post_path(post) + '/edit' if current_user.id == @user.id %>
            <%= link_to "Delete post", post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete?" } if current_user.id == @user.id %>
          <% else %>
          <% end %>
        </div>
      <% end %>
    <% if current_user %>
      <%= link_to 'Create post', new_post_path if current_user.id == @user.id %>
    <% else %>
    <% end %>
  </div>
  </div>
