<li id="<%= feed_item.id %>">
  <div class="container col-xs-12">
    <div class="panel post panel-default col-xs-12">
      <div class="user-show-title"><%= link_to gravatar_for(feed_item.user), feed_item.user %>
        <% if current_user %>
          <span class= "pull-right"><%= link_to "Delete", feed_item, method: :delete, data: { confirm: "Are you sure you want to delete?" }, :class => "btn btn-danger btn-xs" if current_user == feed_item.user %></span>
        <% else %>
        <% end %>
        <span class="fixname postname"><%= link_to feed_item.user.name, feed_item.user %></span>
      </div>
      <p id="fixmargin">Posted <%= time_ago_in_words(feed_item.created_at) %> ago</p>
      <p class="fixcomment container col-xs-12"><%= feed_item.description %></p>
      <%= link_to 'Show more', post_path(feed_item.id) %>
      <%= link_to '/ Edit post', post_path(feed_item.id) + '/edit' if current_user == feed_item.user %>
    </div>
  </div>
</li>
