<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_field :title, :required => true, :maxlength => 90, placeholder: "Title" %>
    <%= f.text_area :description, :required => true, size: "20x5", placeholder: "Compose new post..." %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
