<div class="container">
  <%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, :required => true, placeholder: "Title", :maxlength => 90, :class =>"form-control" %>
  </div>
  <br>
  <div>
    <%= f.text_area :description, :required => true, size:"5x10", placeholder: "Write something...", :class =>"form-control text-area" %>
  </div>
  <br>
  <div class="form">
    <%= f.label :image, :class => "title" %>
    <%= f.file_field :image, :class => "title" %>
  </div>
  <br>
  <%= f.submit "Post", :class => "btn btn-primary" %>
  <% end %>
</div>
