<div class="container">

  <%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, :required => true, placeholder: "Title", :maxlength => 90, :class =>"form-control" %>
  </div>
  <br>
  <div>
    <%= f.text_area :description, :required => true, size:"5x5", placeholder: "Write something...", :class =>"form-control" %>
  </div>
  <br>
  <div class="form">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <br>
  <%= f.submit "Post", :class => "btn btn-primary" %>
  <% end %>
</div>
